<p>It should produce nice to print formulas … but I could not get the ‘julia’ engine to work!</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb1-1" data-line-number="1"><span class="co"># libraries</span></a>
<a class="sourceLine" id="cb1-2" data-line-number="2"><span class="co">## Needed packages</span></a>
<a class="sourceLine" id="cb1-3" data-line-number="3">packages &lt;-<span class="st"> </span><span class="kw">c</span>(<span class="st">&quot;tidyverse&quot;</span>,</a>
<a class="sourceLine" id="cb1-4" data-line-number="4">              <span class="st">&quot;JuliaCall&quot;</span>,</a>
<a class="sourceLine" id="cb1-5" data-line-number="5">              <span class="st">&quot;magrittr&quot;</span>,</a>
<a class="sourceLine" id="cb1-6" data-line-number="6">              <span class="st">&quot;broom&quot;</span>,</a>
<a class="sourceLine" id="cb1-7" data-line-number="7">              <span class="st">&quot;car&quot;</span>)</a>
<a class="sourceLine" id="cb1-8" data-line-number="8"><span class="co">## check for not installed packages and install them</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">not_installed &lt;-<span class="st"> </span>packages[<span class="op">!</span>(packages <span class="op">%in%</span><span class="st"> </span><span class="kw">installed.packages</span>())]</a>
<a class="sourceLine" id="cb1-10" data-line-number="10"><span class="co">### check if not_installed is not empty</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11"><span class="cf">if</span>( <span class="kw">length</span>(not_installed) <span class="op">!=</span><span class="st"> </span><span class="dv">0</span> )</a>
<a class="sourceLine" id="cb1-12" data-line-number="12"><span class="kw">install.packages</span>(not_installed, <span class="dt">dependencies =</span> <span class="ot">TRUE</span>)</a>
<a class="sourceLine" id="cb1-13" data-line-number="13"><span class="co">## load all needed packages</span></a>
<a class="sourceLine" id="cb1-14" data-line-number="14"><span class="kw">lapply</span>(packages, <span class="cf">function</span>(x) <span class="kw">library</span>(x, <span class="dt">character.only =</span> <span class="ot">TRUE</span>))</a></code></pre></div>
<pre><code>## -- Attaching packages ---------------------------------- tidyverse 1.2.1 --</code></pre>
<pre><code>## v ggplot2 3.2.0     v purrr   0.2.5
## v tibble  1.4.2     v dplyr   0.7.6
## v tidyr   0.8.1     v stringr 1.3.1
## v readr   1.1.1     v forcats 0.3.0</code></pre>
<pre><code>## Warning: package &#39;ggplot2&#39; was built under R version 3.5.3</code></pre>
<pre><code>## -- Conflicts ------------------------------------- tidyverse_conflicts() --
## x dplyr::filter() masks stats::filter()
## x dplyr::lag()    masks stats::lag()</code></pre>
<pre><code>## Warning: package &#39;JuliaCall&#39; was built under R version 3.5.3</code></pre>
<pre><code>## 
## Attaching package: &#39;magrittr&#39;</code></pre>
<pre><code>## The following object is masked from &#39;package:purrr&#39;:
## 
##     set_names</code></pre>
<pre><code>## The following object is masked from &#39;package:tidyr&#39;:
## 
##     extract</code></pre>
<pre><code>## Loading required package: carData</code></pre>
<pre><code>## 
## Attaching package: &#39;car&#39;</code></pre>
<pre><code>## The following object is masked from &#39;package:dplyr&#39;:
## 
##     recode</code></pre>
<pre><code>## The following object is masked from &#39;package:purrr&#39;:
## 
##     some</code></pre>
<pre><code>## [[1]]
##  [1] &quot;forcats&quot;   &quot;stringr&quot;   &quot;dplyr&quot;     &quot;purrr&quot;     &quot;readr&quot;    
##  [6] &quot;tidyr&quot;     &quot;tibble&quot;    &quot;ggplot2&quot;   &quot;tidyverse&quot; &quot;knitr&quot;    
## [11] &quot;stats&quot;     &quot;graphics&quot;  &quot;grDevices&quot; &quot;utils&quot;     &quot;datasets&quot; 
## [16] &quot;methods&quot;   &quot;base&quot;     
## 
## [[2]]
##  [1] &quot;JuliaCall&quot; &quot;forcats&quot;   &quot;stringr&quot;   &quot;dplyr&quot;     &quot;purrr&quot;    
##  [6] &quot;readr&quot;     &quot;tidyr&quot;     &quot;tibble&quot;    &quot;ggplot2&quot;   &quot;tidyverse&quot;
## [11] &quot;knitr&quot;     &quot;stats&quot;     &quot;graphics&quot;  &quot;grDevices&quot; &quot;utils&quot;    
## [16] &quot;datasets&quot;  &quot;methods&quot;   &quot;base&quot;     
## 
## [[3]]
##  [1] &quot;magrittr&quot;  &quot;JuliaCall&quot; &quot;forcats&quot;   &quot;stringr&quot;   &quot;dplyr&quot;    
##  [6] &quot;purrr&quot;     &quot;readr&quot;     &quot;tidyr&quot;     &quot;tibble&quot;    &quot;ggplot2&quot;  
## [11] &quot;tidyverse&quot; &quot;knitr&quot;     &quot;stats&quot;     &quot;graphics&quot;  &quot;grDevices&quot;
## [16] &quot;utils&quot;     &quot;datasets&quot;  &quot;methods&quot;   &quot;base&quot;     
## 
## [[4]]
##  [1] &quot;broom&quot;     &quot;magrittr&quot;  &quot;JuliaCall&quot; &quot;forcats&quot;   &quot;stringr&quot;  
##  [6] &quot;dplyr&quot;     &quot;purrr&quot;     &quot;readr&quot;     &quot;tidyr&quot;     &quot;tibble&quot;   
## [11] &quot;ggplot2&quot;   &quot;tidyverse&quot; &quot;knitr&quot;     &quot;stats&quot;     &quot;graphics&quot; 
## [16] &quot;grDevices&quot; &quot;utils&quot;     &quot;datasets&quot;  &quot;methods&quot;   &quot;base&quot;     
## 
## [[5]]
##  [1] &quot;car&quot;       &quot;carData&quot;   &quot;broom&quot;     &quot;magrittr&quot;  &quot;JuliaCall&quot;
##  [6] &quot;forcats&quot;   &quot;stringr&quot;   &quot;dplyr&quot;     &quot;purrr&quot;     &quot;readr&quot;    
## [11] &quot;tidyr&quot;     &quot;tibble&quot;    &quot;ggplot2&quot;   &quot;tidyverse&quot; &quot;knitr&quot;    
## [16] &quot;stats&quot;     &quot;graphics&quot;  &quot;grDevices&quot; &quot;utils&quot;     &quot;datasets&quot; 
## [21] &quot;methods&quot;   &quot;base&quot;</code></pre>
<div class="sourceCode" id="cb15"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb15-1" data-line-number="1"><span class="co"># knitr options</span></a>
<a class="sourceLine" id="cb15-2" data-line-number="2">knitr<span class="op">::</span>opts_chunk<span class="op">$</span><span class="kw">set</span>(<span class="dt">fig.pos =</span> <span class="st">&#39;H&#39;</span>, <span class="dt">out.extra =</span> <span class="st">&#39;&#39;</span>)</a>
<a class="sourceLine" id="cb15-3" data-line-number="3">knitr<span class="op">::</span>opts_chunk<span class="op">$</span><span class="kw">set</span>(<span class="dt">echo =</span> <span class="ot">TRUE</span>)</a>
<a class="sourceLine" id="cb15-4" data-line-number="4">knitr<span class="op">::</span>opts_chunk<span class="op">$</span><span class="kw">set</span>(<span class="dt">out.width =</span> <span class="st">&#39;75%&#39;</span>, <span class="dt">fig.align =</span> <span class="st">&#39;center&#39;</span> ) </a>
<a class="sourceLine" id="cb15-5" data-line-number="5">knitr<span class="op">::</span>opts_chunk<span class="op">$</span><span class="kw">set</span>(<span class="dt">comment=</span><span class="ot">NA</span>)</a>
<a class="sourceLine" id="cb15-6" data-line-number="6"></a>
<a class="sourceLine" id="cb15-7" data-line-number="7"><span class="kw">julia_setup</span>(<span class="dt">JULIA_HOME =</span> <span class="st">&quot;C:</span><span class="ch">\\</span><span class="st">Users</span><span class="ch">\\</span><span class="st">ro</span><span class="ch">\\</span><span class="st">AppData</span><span class="ch">\\</span><span class="st">Local</span><span class="ch">\\</span><span class="st">Julia-1.1.1</span><span class="ch">\\</span><span class="st">bin</span><span class="ch">\\</span><span class="st">&quot;</span>, <span class="dt">rebuild =</span> T)</a></code></pre></div>
<pre><code>## Julia version 1.1.1 at location C:\Users\ro\AppData\Local\Julia-1.1.1\bin will be used.</code></pre>
<pre><code>## Loading setup script for JuliaCall...</code></pre>
<pre><code>## Finish loading setup script for JuliaCall.</code></pre>
<div class="sourceCode" id="cb19"><pre class="sourceCode julia"><code class="sourceCode julia"><a class="sourceLine" id="cb19-1" data-line-number="1"><span class="co"># [Juila Code]</span></a>
<a class="sourceLine" id="cb19-2" data-line-number="2"></a>
<a class="sourceLine" id="cb19-3" data-line-number="3">using SymPy</a>
<a class="sourceLine" id="cb19-4" data-line-number="4"></a>
<a class="sourceLine" id="cb19-5" data-line-number="5"><span class="co"># initial variables</span></a>
<a class="sourceLine" id="cb19-6" data-line-number="6"></a>
<a class="sourceLine" id="cb19-7" data-line-number="7">P, a_0, a_1, ν, Q, C, η, F, b_0, b_1, N, q, π = </a>
<a class="sourceLine" id="cb19-8" data-line-number="8">    symbols(<span class="st">&quot;P, a_0, a_1, ν, Q, C, η, F, b_0, b_1, N, q, π&quot;</span>);</a>
<a class="sourceLine" id="cb19-9" data-line-number="9"></a>
<a class="sourceLine" id="cb19-10" data-line-number="10">q = ( (a_0-b_0)+(ν-η) )/( a_1*(N+<span class="fl">1</span>)-<span class="fl">2</span>*b_1);</a>
<a class="sourceLine" id="cb19-11" data-line-number="11"></a>
<a class="sourceLine" id="cb19-12" data-line-number="12">Q = N*q;</a>
<a class="sourceLine" id="cb19-13" data-line-number="13"></a>
<a class="sourceLine" id="cb19-14" data-line-number="14">P = a_0 - a_1*Q + ν;</a>
<a class="sourceLine" id="cb19-15" data-line-number="15"></a>
<a class="sourceLine" id="cb19-16" data-line-number="16">C = (b_0 - b_1*q + η)*q + F;</a>
<a class="sourceLine" id="cb19-17" data-line-number="17"></a>
<a class="sourceLine" id="cb19-18" data-line-number="18">π = P*q - C; </a>
<a class="sourceLine" id="cb19-19" data-line-number="19"></a>
<a class="sourceLine" id="cb19-20" data-line-number="20"><span class="co"># substitute b_1 = 0</span></a>
<a class="sourceLine" id="cb19-21" data-line-number="21"></a>
<a class="sourceLine" id="cb19-22" data-line-number="22">π = subs(π,b_1,<span class="fl">0</span>); </a>
<a class="sourceLine" id="cb19-23" data-line-number="23">simplify(π);</a>
<a class="sourceLine" id="cb19-24" data-line-number="24"></a>
<a class="sourceLine" id="cb19-25" data-line-number="25">show(stdout, <span class="st">&quot;text/latex&quot;</span>, π)</a></code></pre></div>
